<h1>Welcome <%=@user.name%></h1>
<h3>This user has level one access and employed by <%=@user.merchant.name%></h3>

<h3><%=current_user.merchant.name%> is located at:</h3> 
<p>Address: <%=@user.merchant.address%>
<p>City: <%=@user.merchant.city%>
<p>State: <%=@user.merchant.state%>
<p>Zipcode: <%=@user.merchant.zip%>
<h3>Items sold by <%=@user.merchant.name%></h3>
<ol>

<h3><%=link_to "View items sold by #{@user.merchant.name}", "/merchant/items" %></h3>