<h1>Welcome <%=@user.name%></h1>
<h3>This user has level one access and employed by <%=@user.merchant.name%></h3>

<h3><%=current_user.merchant.name%> is located at:</h3> 
<p>Address: <%=@user.merchant.address%>
<p>City: <%=@user.merchant.city%>
<p>State: <%=@user.merchant.state%>
<p>Zipcode: <%=@user.merchant.zip%>
<h3>Items sold by <%=@user.merchant.name%></h3>
<ol>

<h3><%=link_to "View items sold by #{@user.merchant.name}", "/merchant/items" %></h3>

<ol align="left">
<h3 align="left">Pending orders:</h3>
<%@orders.each do |order|%>
    <section align="left" class="order-<%=order.id%>">
        <li align="left"><p>Order number: <%= link_to order.id, "/orders/#{order.id}" %></li></p>
            <p><strong>Order created at: <%=order.created_at.to_formatted_s(:long)%></strong></p>
            <p><strong>Total cost for items in order: $<%=order.grandtotal_for_merchant(current_user)%></strong></p>
            <p>Items sold:</p>
            <ul>
            <%order.items.each do |item|%>
                <% if item.merchant_id == @user.merchant.id %>
                    <p><li align="left"><%=item.name%> Number ordered: <%=item.total_in_order(order.id, item.id)%></li><br>
                    <p align="left"><strong>Subtotal for <%=item.name%>: $<%= item.subtotal_item(order.id, item.id)%></strong></p>
                <%end%>
            <%end%> 
            </ul>            
    </section>
<%end%>
</ol>