<h2>Items Sold By <%=@user.merchant.name%></h2>
<ol>
<%@user.items_sold.each do |item|%>
    <li><b><%= item.name %></b></li>
    <p class="w3-round"><img src= <%= item.image %> ></p>
    <p>Description: <%= item.description %></p>
    <p>Price: <%= item.price %></p>
    <p>Inventory: <%= item.inventory %></p>
    <p>Status:
    <% if item.active? %>
        Active
        <button><%= link_to "Deactivate", "/merchant/items/#{item.id}", method: :patch %></button>
      <% else %>
        Inactive
    <% end %>
<%end%>
</ol>
