<form action="/register" method=post
      oninput='password2.setCustomValidity(password2.value != password.value ? "Passwords do not match." : "")'>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name", value= <%= @user.name %>>
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input type="text" class="form-control" id="address" name="address", value= <%= @user.address %>>
  </div>
  <div class="form-row">
      <div class="form-group col-sm-6">
          <label for="city">City</label>
          <input type="text" class="form-control" id="city" name="city", value= <%= @user.city %>>
      </div>
      <div class="form-group col-sm-4">
          <label for="state">State</label>
          <input type="text" class="form-control" id="state" name="state", value= <%= @user.state %>>
      </div>
      <div class="form-group col-sm-2">
          <label for="zip">Zip</label>
          <input type="text" class="form-control" id="zip" name="zip", value= <%= @user.zip %>>
      </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="username">Email</label>
      <input type="email" name="email" class="form-control" id="username" placeholder="Email" required name=un>
    </div>
    <div class="form-group col-md-4">
      <label for="password">Password</label>
      <input id="password" type=password required name=password class="form-control" placeholder="Password">
    </div>
    <div class="form-group col-md-4">
      <label for="password2">Confirm password</label>
      <input id="password2" type=password name=confirm_password class="form-control" placeholder="Confirm">
    </div>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type=submit value="Create Account">
  </div>
</form>
