<h1>All Merchants</h1>

<% @merchants.each do |merchant| %>
  <section class = "merchant-<%= merchant.id %>">
    <center>
      <div>
        <%= merchant.name %>
        <%= merchant.city %>
        <%= merchant.state %>
        <% if merchant.status == "disabled" %>
          <p><%= button_to "Enable", "/admin/merchants/#{merchant.id}", method: :patch %></p>
        <% else %>
          <p><%= button_to "Disable", "/admin/merchants/#{merchant.id}", method: :patch %></p>
        <% end %>
      </div>
    </center>
  </section>
<% end %>
