<h1> List of All Orders </h1>

<% @orders.each do |order| %>
  <b>Order Number: <%= link_to "#{order.id}", "/merchant/orders/#{order.id}" %></b>
  <p><%= order.name %> - <%= order.address %></p>
  <% @item_orders.each do |item_order| %>
        <section class="order-<%=item_order.id%>" >
          <p><%= link_to "#{item_order.item.name}", "/items/#{item_order.item.id}" %></p>
          <div style="height:20%;width:20%">
            <img class="img-thumbnail-<%= item_order.item.id%>" src= <%= item_order.item.image %>, onerror="this.src='https://www.parksmarina.com/images/not_available.png';">
          </div>
          <p>Price of Item: <%= number_to_currency(item_order.item.price) %></p>
          <p>Quantity: <%= item_order.quantity %></p>
          <p>Status: <%= item_order.status %>
        </section>
    <% end %>
<% end %>
